div.card{
    justify-content: center;
    width: 800px;
        margin: 0 auto;
        float: none; 
        margin-bottom: 20px; 
        margin-top: 20px;
}
.card-header{
    background-color: #422F5E !important;
    color: white !important;
    /* font-weight: 700 !important; */
    height: 42px;
    
}

th{
    background-color:#9272C0 !important ;
    color: white;
}


.table{
  border: 1px  black;
}