body{
    background-color: lavender;
}
div.table-responsive{
    background-color:white;
    
}

div{
    background-color:white;

}
div.container-fluid{
background-color: #422F5E ;
}

footer{
    background-color:#422F5E  ;
    width: 800px;
    margin:0 auto;
    margin-bottom: 30px;
}

div.card{
    width: 800px;
        margin: 0 auto;
        float: none; 
        margin-bottom: 10px; 
        margin-top: 20px;
}